In [15]:
!pip3 install mysqlclient

Collecting mysqlclient
  Downloading mysqlclient-2.1.1-cp38-cp38-win_amd64.whl (178 kB)
Installing collected packages: mysqlclient
Successfully installed mysqlclient-2.1.1

WARNING: Ignoring invalid distribution -mpy (c:\users\t-sarthak\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -umpy (c:\users\t-sarthak\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution - (c:\users\t-sarthak\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -mpy (c:\users\t-sarthak\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -umpy (c:\users\t-sarthak\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution - (c:\users\t-sarthak\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -mpy (c:\users\t-sarthak\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -umpy (c:\users\t-sarthak\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution - (c:\users\t-sarthak\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -mpy (c:\users\t-sarthak\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -umpy (c:\users\t-sarthak\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution - (c:\users\t-sarthak\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -mpy (c:\users\t-sarthak\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -umpy (c:\users\t-sarthak\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution - (c:\users\t-sarthak\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -mpy (c:\users\t-sarthak\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -umpy (c:\users\t-sarthak\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution - (c:\users\t-sarthak\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -mpy (c:\users\t-sarthak\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -umpy (c:\users\t-sarthak\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution - (c:\users\t-sarthak\anaconda3\lib\site-packages)

In [19]:
import mysql.connector as connection
import pandas as pd
import glob, os
from sqlalchemy import create_engine

In [20]:


for file in glob.glob("calendar.csv"):
    df = pd.read_csv(file)
    
    # Create SQLAlchemy engine to connect to MySQL Database
    engine = create_engine("mysql+mysqldb://root:1234@localhost/mysql1")
    
    # Convert dataframe to sql table                                   
    df.to_sql(file[:-4], engine, index=False)
    
    print('done')

ValueError: Table 'calendar' already exists.

In [ ]:
try:
    mydb=connection.connect(host="localhost",user="root",passwd="1234",use_pure=True)
    
    query= "SHOW DATABASES"
    
    cursor=mydb.cursor()
    cursor.execute(query)
    print(cursor.fetchall())
    
except Exception as e:
    mydb.close()
    print(str(e))